<!-- templates/admin_dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_dashboard.css') }}">
</head>
<body>
    <div class="dashboard-container">
        <h1>Admin Dashboard</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('admin.add_customer') }}">Add Customer</a></li>
                <li><a href="{{ url_for('admin.add_product') }}">Add Product</a></li>
                <li><a href="{{ url_for('admin.search_customers') }}">Customer Details</a></li>
                <li><a href="{{ url_for('admin.search_products') }}">Product Details</a></li>
                <li><a href="{{ url_for('purchase.purchase_items') }}">Add Purchase Info</a></li>
                <li><a href="{{ url_for('report.report') }}">View Report</a></li>
                <li><a href="{{ url_for('auth.login') }}">Logout</a></li>

            </ul>
        </nav>
    </div>
    <h2>Welcome to the Employee Dashboard</h2>
    <p>Select an option from the navigation above to get started.</p>
</body>
</html>
