<!-- templates/customers.html -->
{% extends 'base.html' %}

{% block title %}Customers{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/displaypro.css') }}">
<h1>Customer Details</h1>
<!-- Search Form -->
<form method="POST" action="{{ url_for('admin.search_customers') }}">
    <input type="text" name="query" placeholder="Search customer..." required>
    <button type="submit">Search</button>
</form>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    {% for customer in customers %}
    <tr>
        <td>{{ customer[0] }}</td>
        <td>{{ customer[1] }}</td>
        <td>{{ customer[2] }}</td>
        <td>{{ customer[3] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
